/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* common */
body {
    font-family: 'Ubuntu', sans-serif;
    max-width: 1920px;
    
}

.logo-img {
    vertical-align: middle;
}

.logo-text{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding-left: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: 1px solid whitesmoke ;
}

main {
    background-color: whitesmoke;
    border-radius: 3px;
}

.div-buttons {
    height: 50px;
    padding-top: 13px;
    padding-left: 40px;
    border-bottom: 1px solid whitesmoke;
}

.button1 {
    height: 28px;
    width: 75px;
    background-color: deepskyblue;
    color: white;
    border: deepskyblue;
    border-radius: 3px;
}

.button2 {
    height: 28px;
    width: 90px;
}

.central-part {
    max-width: 60%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-top: 50px solid whitesmoke;
    border-bottom: 30px solid whitesmoke;
}

ul {
    list-style: none;
}

.inline {
    display: inline;
}

.lista-centrale {
    padding-top: 30px;
    padding-left: 40px;
    line-height: 50px;
    font-size: 25px;
    word-spacing: 3px;
}

.v-spunta {
    color: rgb(37, 189, 37);
    border: 1px solid rgb(37, 189, 37);
    border-radius: 50% ;
    
}

.croce-spunta {
    color: red;
    border: 1px solid red;
    border-radius: 20px;
}