/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* common */
body {
    font-family: 'Ubuntu', sans-serif;
    max-width: 1920px;
    
}

.logo-img {
    vertical-align: middle;
}

.logo-text{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

header {
    padding-left: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: 1px solid whitesmoke ;
}

main {
    background-color: whitesmoke;
    border-radius: 3px;
}

.div-buttons {
    height: 50px;
    padding-top: 13px;
    padding-left: 40px;
    border-bottom: 1px solid whitesmoke;
}

.button1 {
    height: 28px;
    width: 75px;
    background-color: deepskyblue;
    color: white;
    border: deepskyblue;
    border-radius: 3px;
}

.button2 {
    height: 28px;
    width: 90px;
}

.central-part {
    max-width: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-top: 50px solid whitesmoke;
    border-bottom: 30px solid whitesmoke;
}

ul {
    list-style: none;
}


.inline {
    display: inline;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.lista-centrale {
    padding-top: 30px;
    padding-left: 40px;
    line-height: 50px;
    font-size: 25px;
    word-spacing: 3px;
    font-weight: bold;
}

.v-spunta {
    color: rgb(37, 189, 37);
    border: 1px solid rgb(37, 189, 37);
    border-radius: 50%;
    padding: 6px;
    font-size: 15px;
    margin-right: 15px;
    }

.croce-spunta {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 6px;
    font-size: 15px;
    margin-right: 15px;
}

.freccia-giu {
    margin-right: 15px;
}

.editorial {
    background-color: deepskyblue;
    font-size: 12px;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.q1-goals {
    background-color: rgb(146, 62, 185);
    font-size: 12px;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.recruiting {
    background-color: rgba(20, 194, 179, 0.616);
    font-size: 12px;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.mobile{
    background-color: rgb(255, 145, 0);
    font-size: 12px;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.website {
    background-color: rgb(170, 53, 145);
    font-size: 12px;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.sales {
    background-color: rgba(144, 209, 40, 0.815);
    font-size: 12px;
    border-radius: 15px;
    padding: 10px;
    color: white;
}